:root {
    --mainColor: #3B5998;
    --mainColor2: #3E4E72;
    --darkColor: #29365d;
    --darkColor2: #132D63;
    --darkColor3: #0a1834;
    --lightColor: #839CCF;
    --lightColor2: #6E8CCC;
    --whiteColor: #FFF;
    --whiteColor2: #F2F2F2;
    --pageHeaderColor: #ffd42d;
}
