:root {
    --mainColor: #fd6b6b;
    --mainColor2: #BE6C6C;
    --darkColor: #A42323;
    --darkColor2: #6e1818;
    --darkColor3: #4a1111;
    --lightColor: #FEADAD;
    --lightColor2: #FE9090;
    --whiteColor: #FFF;
    --whiteColor2: #F2F2F2;
    --pageHeaderColor: #56CA56;
}
