<title>项目经验</title>

<div class="container-box">
    <div class="page-header">
        <div class="page-title">
            <h1 class="h3">项目经验</h1>
        </div>
    </div>
    
    <div class="page-content">
        <br>
        
        <script type="text/html" template lay-url="./data/project.json">
            {{# layui.each(d.data, function(index, item){}}
            <div class="job-item">
                <div class="job-itme-header">
                    <div class="job-header-top">
                        <span class="project-name"><strong>{{item.name}}</strong></span>
                        <span class="job-time"><i class="fa fa-calendar"></i>{{item.time}}</span>
                    </div>
                    <div class="job-item-line"></div>
                    <div class="job-header-bottom">
                        <span class="company-name">
                            <i class="fa fa-briefcase mr5"></i>
                            {{item.company}}
                        </span>
                    </div>
                </div>
                <div class="job-itme-body">
                    {{# if (item.ifOnline) { }}
                    <div class="project-description">
                        <span class="text-dark desc-title">项目地址：</span>
                        <div class="project-description-text">
                            <a href='{{item.url}}' target='_blank' class="btn-link">{{item.url}}</a>
                        </div>
                    </div>
                    {{# } }}
                    <div class="project-description">
                        <span class="text-dark desc-title">项目描述：</span>
                        <div class="project-description-text">
                            {{item.projectDesc}}
                        </div>
                    </div>
                    <div class="project-description">
                        <span class="text-dark desc-title">责任描述：</span>
                        <div class="project-description-text">
                            {{item.jobDesc}}
                        </div>
                    </div>
                    {{# if (item.img.length > 0) { }}
                    <div class="project-description">
                        <span class="text-dark desc-title">项目截图：</span>
                        <div class="project-screenshot">
                            {{# layui.each(item.img, function(index1, item1){}}
                            <a data-magnify="gallery" data-caption="项目截图" href="{{ item1 }}" class="project-img-item rounded img-thumbnail" title="点击放大查看">
                                <img src="{{ item1 }}" alt="">
                            </a>
                            {{# }); }}
                        </div>
                    </div>
                    {{# } }}
                </div>
            </div>
            <br>
            {{# }); }}
        </script>
    
    </div>

</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        $('[data-magnify=gallery]').magnify({
            title: false,
            headToolbar: [
                'close'
            ],
            footToolbar: [
                'zoomIn',
                'zoomOut',
                'prev',
                'fullscreen',
                'next',
                'actualSize',
                'rotateRight'
            ],
            i18n: {
                minimize: "最小化",
                maximize: "最大化",
                close: "关闭",
                zoomIn: "放大",
                zoomOut: "缩小",
                prev: "上一张",
                next: "下一张",
                fullscreen: "全屏",
                actualSize: "实际尺寸",
                rotateLeft: "向左旋转",
                rotateRight: "向右旋转"
            },
        });
    });
</script>
