<title>项目经验</title>

<div class="container-box">
    <div class="page-header">
        <div class="page-title">
            <h1 class="h3">项目经验</h1>
        </div>
    </div>
    
    <div class="page-content">
        <br>
        
        <div class="job-item">
            <div class="job-itme-header">
                <div class="job-header-top">
                    <span class="project-name"><strong>国家自然科学基金会议评审系统</strong></span>
                    <span class="job-time"><i class="fa fa-calendar"></i>2019/5-2019/10</span>
                </div>
                <div class="job-item-line"></div>
                <div class="job-header-bottom">
                    <span class="company-name">
                        <i class="fa fa-briefcase mr5"></i>
                        湖南立森数据技术有限公司
                    </span>
                </div>
            </div>
            <div class="job-itme-body">
                <div class="project-description">
                    <span class="text-dark desc-title">项目描述：</span>
                    <div class="project-description-text">
                        要求以现有CES会议评审系统为基础，升级改造为 C/S + B/S + U盘硬件的混合架构模式的新版 CES
                        会议评审系统（第三代）。以满足国家自然科学基金会议评审需求灵活多变的需要，构建一个方便快捷、灵活配置、安全可靠的网络评审系统。在确保专家和会议管理人员评审和管理习惯不变的前提下，对系统底层进行改造，增强系统可配置能力，以应对评审工作灵活多变的需要，为基金委的会评工作提供完善的技术保障服务。
                    </div>
                </div>
                <div class="project-description">
                    <span class="text-dark desc-title">责任描述：</span>
                    <div class="project-description-text">
                        主要负责前端页面的编写，依旧使用最熟练的 Bootstrap 来布局。
                        项目采用前后端分离的模式进行开发。
                        根据旧版程序界面定好新的页面与风格，
                        使用原生 javascript 编写了一套路由机制，实现页面的无刷新跳转。
                        使用 artTemplate.js 模板引擎对前端视图进行数据解析和渲染，并展现动态效果和并操作DOM。
                        对页面进行外观美化和功能的完善。
                    </div>
                </div>
                <div class="project-description">
                    <span class="text-dark desc-title">项目截图：</span>
                    <div class="project-screenshot">
        
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="job-item">
            <div class="job-itme-header">
                <div class="job-header-top">
                    <span class="project-name"><strong>长沙教育考试院（已上线）</strong></span>
                    <span class="job-time"><i class="fa fa-calendar"></i>2019/2-2019/5</span>
                </div>
                <div class="job-item-line"></div>
                <div class="job-header-bottom">
                    <span class="company-name">
                        <i class="fa fa-briefcase mr5"></i>
                        湖南立森数据技术有限公司
                    </span>
                </div>
            </div>
            <div class="job-itme-body">
                <div class="project-description">
                    <span class="text-dark desc-title">项目描述：</span>
                    <div class="project-description-text">
                        项目地址：http://www.cssjyksy.org.cn/
                    </div>
                </div>
                <div class="project-description">
                    <span class="text-dark desc-title">责任描述：</span>
                    <div class="project-description-text">...</div>
                </div>
                <div class="project-description">
                    <span class="text-dark desc-title">项目截图：</span>
                    <div class="project-screenshot">
                    
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        
        <div class="job-item">
            <div class="job-itme-header">
                <div class="job-header-top">
                    <span class="project-name"><strong>漳泽水库大坝安全监测系统</strong></span>
                    <span class="job-time"><i class="fa fa-calendar"></i>2019/5-2019/10</span>
                </div>
                <div class="job-item-line"></div>
                <div class="job-header-bottom">
                    <span class="company-name">
                        <i class="fa fa-briefcase mr5"></i>
                        湖南立森数据技术有限公司
                    </span>
                </div>
            </div>
            <div class="job-itme-body">
                <div class="project-description">
                    <span class="text-dark desc-title">项目描述：</span>
                    <div class="project-description-text">
                        【漳泽水库大坝安全监测系统】主要用于水库水位、流量、实时检测及水情分析的系统，系统包括基本信息、安全检测、数据导入、系统管理、统计报表等模块。系统使用了Java企业级开发的开源框架spring以及前端技术jQuery，界面基本使用miniUI和bootstrap。表示层运用了mvc架构，使用JSP作为视图，用EL表达式模板引擎作为控制器；大量使用ajax+JSON技术进行前后端交互；持久层使用了Hibernate封装CRUD操作，底层使用MySQL实现数据存取。
                    </div>
                </div>
                <div class="project-description">
                    <span class="text-dark desc-title">责任描述：</span>
                    <div class="project-description-text">...</div>
                </div>
            
            </div>
        </div>
    
    
    </div>

</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        
    });
</script>
