<title>个人简介</title>

<div class="container-box">
    <div class="page-header">
        <div class="page-title">
            <h1 class="first-title h2">您好，我是 <strong>方凌松</strong></h1>
            <h1 class="h5">WEB 前端开发工程师</h1>
        </div>
    </div>
    <div class="page-content">
        <div class="my-introduce">
            <p>我拥有丰富的前端开发经验。</p>
            <p>我喜欢干净，优雅的样式，并且在生产用于现代网站的CSS和（X）HTML方面有丰富的经验。我对使用JavaScript框架（特别是jQuery）有一定的了解。</p>
        </div>
        <hr>
    
        <div class="page-subtitle">
            <h2 class="h5">基本信息</h2>
        </div>
        <div class="my-info-form">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">姓名</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" disabled value="方凌松">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">出生日期</span>
                </div>
                <input type="text" class="form-control" placeholder="Birthday" disabled value="1997-06-24">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">地址</span>
                </div>
                <input type="text" class="form-control" placeholder="Address" disabled value="湖南长沙">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">电子邮箱</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" disabled value="1344085370@qq.com">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">联系电话</span>
                </div>
                <input type="text" class="form-control" placeholder="Telephone" disabled value="18874814818">
            </div>
        </div>
    
        <hr>
        <div class="page-subtitle">
            <h2 class="h5">自我评价</h2>
        </div>
        <div class="my-introduce">
            <p>1. 有一定的软件开发经验，负责过 web、J2EE 项目开发，尤其擅长项目前端设计与开发业务；熟悉 java 开发语言，了解 javaEE 体系架构.</p>
            <p>2. 熟悉页面布局、重构，了解w3c标准。能熟练运用响应式布局和弹性盒布局以及百分比自适应布局。</p>
            <p>3. 掌握 layui，vue，bootstrap，easy-ui 与 jquery-ui 等前端框架。</p>
            <p>4. 擅长将网页原图模型转化成静态网页，且对HTML5与CSS3.0以及HTML语义化有一定的了解</p>
            <p>5. 熟练运用浏览器兼容技术，数据接口处理，前端性能优化设计，有一定美术功底及网页设计能力</p>
            <p>6. 熟练使用 Webstorm，IDEA，HBuilder，nodepad++，eclipse，photoshop 等相关开发工具</p>
            <p>7. 熟悉Tomcat服务器。熟悉 Maven、SVN、Git</p>
            <p>8. 掌握主流数据库Oracle、MySQL的使用，具备良好的SQL设计编写能力</p>
            <p>9. 了解 Struts2、Spring、Hibernate、SpringMVC、MyBatis 框架及SSM、SSH整合框架</p>
            <hr>
            <p>本人思维灵活，喜爱项目开发与设计，逻辑能力强。为人和善，待人大方幽默，善于调动工作氛围。</p>
            <p>对互联网产品和Web技术有着强烈兴趣。工作中能吃苦肯钻研，能承受工作压力，注重长期稳定的发展，能够适应不同类型公司的发展要求。</p>
        </div>
    
        <br>
        
    </div>
</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        
    });
</script>
