<title>个人简介</title>

<div class="container-box animated fadeIn">
    <script type="text/html" template lay-url="./data/config.json">
        <div class="page-header">
            <div class="page-title">
                <h1 class="first-title h3">您好，我是 <strong>{{d.data.name}}</strong></h1>
                <h1 class="h3">{{d.data.job}}</h1>
            </div>
        </div>
        
        <div class="page-content">
            <div class="my-introduce">
                {{# if (typeof d.data.preface == 'object') { }}
                {{# layui.each(d.data.preface, function(index, item){}}
                <p>{{item}}</p>
                {{# }); }}
                {{# } else if(typeof d.data.preface == 'string') { }}
                <p>{{d.data.preface}}</p>
                {{# } }}
            </div>
            <hr>
            
            <div class="page-subtitle">
                <h2 class="h5">基本信息</h2>
            </div>
            <div class="my-info-form">
                {{# layui.each(d.data.basicInfo, function(index1, item1){}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{item1.name}}</span>
                    </div>
                    <input type="text" class="form-control" disabled value="{{item1.value}}">
                </div>
                {{# }); }}
            </div>
            
            <hr>
            <div class="page-subtitle">
                <h2 class="h5">自我评价</h2>
            </div>
            <div class="my-introduce">
                {{# if (typeof d.data.selfEval == 'object') { }}
                    {{# layui.each(d.data.selfEval, function(index2, item2){}}
                        <p>{{index2+1}}. {{item2}}</p>
                    {{# }); }}
                {{# } else if(typeof d.data.selfEval == 'string') { }}
                <p>{{d.data.selfEval}}</p>
                {{# } }}
                
                <hr>
                <p>{{d.data.finally}}</p>
            </div>
            
            <br>
        
        </div>
    </script>

</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        
    });
</script>
