<title>工作经历</title>

<div class="container-box">
    <div class="page-header">
        <div class="page-title">
            <h1 class="h3">工作经历</h1>
        </div>
    </div>
    
    <div class="page-content">
        <br>
        <script type="text/html" template lay-url="./data/job.json">
            {{# layui.each(d.data, function(index, item){}}
            <div class="job-item">
                <div class="job-itme-header">
                    <div class="job-header-top">
                        <span class="jobs"><strong>{{item.position}}</strong> | {{item.department}}</span>
                        <span class="job-time"><i class="fa fa-calendar"></i>{{item.time}}</span>
                    </div>
                    <div class="job-item-line"></div>
                    <div class="job-header-bottom">
                    <span class="company-name">
                        <i class="fa fa-briefcase mr5"></i>
                        {{item.company}}
                    </span>
                        <span>
                        {{item.companyPosition}} | {{item.companyType}}
                    </span>
                    </div>
                </div>
                <div class="job-itme-body">
                    <p class="job-description"><strong class="text-dark">工作描述：</strong>
                    {{item.description}}
                    </p>
                </div>
            </div>
            {{# }); }}
        </script>
    </div>
</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        
    });
</script>
