<div class="container-box layout-page">
    <div class="container">
        <div id="resume-box" class="row">
            
            <div class="left resume-box-item col-md-3 animated-fasts fadeInLeft">
                <div class="card custom-card" id="left-card">
                    <div class="card-body">
                        <div class="my-picture">
                            <div class="pic-bg">
                                <img src="src/img/users.jpg" alt="" class="rounded-circle">
                            </div>
                        </div>
                        
                        <!--<div class="my-info">-->
                            <!--<h1 class="my-name">方凌松</h1>-->
                            <!--<h4 class="subtext">WEB 前端工程师</h4>-->
                            <!--<h6 class="address"><i class="fa fa-map-marker"></i>湖南长沙</h6>-->
                        <!--</div>-->
                        <ul class="resume-menu" id="resume-menu">
                            <li><a lay-href="/" class="active"><span>简介</span> <i class="fa fa-user fa-fw"></i></a></li>
                            <li><a lay-href="/job"><span>工作经历</span> <i class="fa fa-briefcase fa-fw"></i></a></li>
                            <li><a lay-href="/experience"><span>项目经验</span> <i class="fa fa-file-text fa-fw"></i></a></li>
                            <li><a lay-href="/skills"><span>技能专长</span> <i class="fa fa-tasks fa-fw"></i></a></li>
                            <li><a lay-href="/works"><span>作品集</span> <i class="fa fa-image fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="right resume-box-item col-md-9 animated-fast fadeInRight">
                <div class="card custom-card" id="right-card">
                    <div class="card-body" id="resume_app_body">
                        <div class="layadmin-tabsbody-item layui-show area">
                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

