<title>技能专长</title>

<div class="container-box animated fadeIn">
    <div class="page-header">
        <div class="page-title">
            <h1 class="h3">技能专长</h1>
        </div>
    </div>
    <div class="page-content">
        <br>
        <ul class="skill-list">
            <li class="skill-list-item">
                <span class="skill-text">html</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 75%"></div>
                </div>
            </li>
            <li class="skill-list-item">
                <span class="skill-text">javascript</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 75%"></div>
                </div>
            </li>
            <li class="skill-list-item">
                <span class="skill-text">CSS</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 75%"></div>
                </div>
            </li>
            <li class="skill-list-item">
                <span class="skill-text">vue</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 75%"></div>
                </div>
            </li>
        </ul>
    
    
    </div>
</div>

<script>
    layui.use(['admin', 'layer', 'view'], function () {
        
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            view = layui.view,
            global = layui.global,
            content = $(".content");
        
        
    });
</script>
