<title>作品集</title>

<div class="container-box animated fadeIn">
    <div class="page-header ">
        <div class="page-title">
            <h1 class="h3">作品集</h1>
        </div>
    </div>
    <script type="text/html" template lay-url="./data/works.json" lay-done="layui.data.initWorks()">
        
        <div class="page-content">
    
            <ul id="filter-list" class="clearfix">
                <li class="filter" data-filter="all"><i class="fa fa-th"></i> 全部</li>
                {{# layui.each(d.data.group, function(index, item){}}
                <li class="filter" data-filter="group{{item.id}}">{{item.name}}</li>
                {{# }); }}
            </ul>
           
            <ul id="portfolio">
                {{# layui.each(d.data.list, function(index1, item1){}}
                <li class="item group{{item1.groupId}}">
                    <a data-magnify="gallery" data-group="group{{item1.groupId}}"
                       data-caption="{{item1.title}}" href="{{item1.src}}" class="nivo-lbox">
                        <div class="folio-img">
                            <img src="{{item1.src}}" alt="" class="img-responsive">
                            <div class="overlay">
                                <div class="overlay-inner">
                                    <h4>{{item1.title}}</h4>
                                    <p>{{item1.info}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {{# }); }}
            </ul>
        </div>
    </script>
</div>

<script>
    layui.data.initWorks = function () {
        layui.use(['admin', 'layer', 'view'], function () {
            var $ = layui.$,
                setter = layui.setter,
                admin = layui.admin,
                view = layui.view,
                global = layui.global,
                content = $(".content");
            
            admin.initMagnify();
            
            $('#portfolio').mixitup({
                targetSelector: '.item',
                transitionSpeed: 450
            });
            
        });
    };
</script>
