* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*-------------------------------------------------
                滚动条样式
 -------------------------------------------------*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background-color: #e8e8e8;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .35);
}

/*---------------------------*/

.layui-layout-body {
    overflow: auto !important;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#RESUME_app {
    width: 100%;
    height: 100%;
}

#resume_app_body {
    overflow: auto;
}

body {
    position: relative;
    font-family: "微软雅黑", Arial, sans-serif;
    background-color: transparent;
}

body:after, body:before {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
}

body.bg-img:before {
    background-image: url("../img/code-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    content: '';
}


body.bg-img:after {
    background-color: rgba(34, 34, 34, 0.3);
    z-index: 2;
    content: '';
}

body.bg-wall {
    background-image: url("../img/wall-2.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    content: '';
}


body.bg-wall:after {
    background-color: rgba(34, 34, 34, 0);
    z-index: 2;
    content: '';
}

.layout-page {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
    padding-top: 120px;
    /*overflow: hidden;*/
}

.layout-page.full {
    padding: 0;
}

.layout-page.full .container {
    max-width: 100% !important;
    height: 100%;
    padding: 0;
}

#resume-box {
    position: relative;
    height: auto;
    margin-bottom: 60px;
}

.layout-page.full #resume-box {
    height: 100% !important;
}

.resume-box-item {
    height: 100%;
}

.resume-box-item.left {
    padding-right: 0;
    height: 620px;
}

.layout-page.full .resume-box-item.left {
    padding-right: 0;
    height: 100%;
}

.resume-box-item.right {
    padding-left: 0;
}

.custom-card {
    height: 100%;
    border: 0;
    border-radius: 0;
}

#left-card {
    height: 100%;
}

#left-card .card-body {
    padding: 0;
    background-color: var(--mainColor)
}

#left-card .my-picture {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 30px 20px 30px;
    background-size: cover;
    background-image: url("../img/blur-bg.jpg");
}

#left-card .my-info {
    text-align: center;
    margin-bottom: 15px;
}

.pic-bg {
    width: 120px;
    height: 120px;
    padding: 10px;
    color: var(--lightColor);
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
}

.pic-bg img {
    width: 100px;
    height: 100px;
}

.my-info .my-name {
    font-size: 22px;
    color: var(--lightColor);
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "思源黑体 CN Normal", "微软雅黑", Arial, sans-serif;
}

.my-info .subtext {
    color: var(--lightColor);
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500 !important;
    font-family: "思源黑体 CN Normal", "微软雅黑", Arial, sans-serif;
}

.my-info .address {
    color: var(--lightColor);
    font-size: 14px;
}

.my-info .address i {
    margin-right: 5px;
}

#left-card .resume-menu {
    width: 100%;
    /*height: auto;*/
    height: calc(100% - 180px);
    background-color: var(--darkColor);
}

#left-card .resume-menu li {

}

#left-card .resume-menu li > a {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    transition: background-color 500ms ease;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

#left-card .resume-menu li > a:hover {
    background-color: var(--mainColor2);
}

#left-card .resume-menu li > a.active {
    background-color: #FFF;
    color: var(--darkColor);
    /*border-right: 1px solid var(--darkColor);*/
    border-left: 1px solid var(--lightColor);
}

#left-card .resume-menu li > a i {
    margin-left: 15px;
    position: relative;
    font-size: 19px;
    top: 2px;
}

#right-card {
    height: 100%;
    min-height: 620px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--lightColor);
}

#right-card .card-body {
    padding: 0;
}

.page-title {
    padding: 5px 0 15px;
    position: relative;
    font-family: "微软雅黑", Arial, sans-serif !important;
}

.page-subtitle {
    padding: 5px 0 5px;
    position: relative;
    margin-bottom: 10px;
    font-family: "微软雅黑", Arial, sans-serif !important;
}

.page-subtitle h2 {
    font-weight: 400 !important;
    color: var(--mainColor);
}

.page-title:after {
    position: absolute;
    width: 72px;
    height: 3px;
    background-color: var(--pageHeaderColor);
    bottom: 0;
    left: 0;
    content: '';
}

.page-subtitle:after {
    position: absolute;
    width: 55px;
    height: 2px;
    background-color: var(--pageHeaderColor);
    bottom: 0;
    left: 0;
    content: '';
}


.page-header {
    padding: 15px 30px 0;
    height: auto;
}

.page-title h1 {
    margin: 0;
    display: block;
    color: var(--mainColor);
    font-family: "微软雅黑 Light", "微软雅黑", Arial, sans-serif;
    font-size: 28px;
    font-weight: 400 !important;
}

.page-title .first-title {
    font-weight: 400 !important;
}

.page-title .first-title strong {
    font-family: "微软雅黑", Arial, sans-serif !important;
    font-weight: 600 !important;
}

.page-content {
    padding: 10px 30px 20px;
}

.my-introduce {
    height: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 15px;
    line-height: 1.8;
    color: #999;
    font-family: "微软雅黑", Arial, sans-serif !important;

}

hr {
    background-color: #f2f2f2 !important;
}

.my-info-form {
    width: 480px;
    padding-top: 15px;
}

.my-info-form .input-group-prepend {
    width: 100px;
}

.my-info-form .input-group-prepend .input-group-text {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    border: 1px solid #dddddd;
    color: #999;
}

.my-info-form .form-control {
    background-color: #f5f5f5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #ddd;
}


.job-item .job-itme-header {
    font-size: 14px;
    color: var(--mainColor);
}

.job-item .job-header-top {
    display: flex;
    padding-bottom: 8px;
    justify-content: space-between;
}

.project-name {
    font-size: 18px;
    font-weight: bold;
}

.job-item .job-time {
    font-size: 14px;
}

.job-item .job-header-bottom {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.job-item .job-itme-header .job-item-line {
    width: 100%;
    height: 1px;
    background-color: var(--mainColor);
}

.job-item {
    margin-bottom: 25px;
}

.job-item .jobs strong {
    font-weight: bold;
}

.job-item .job-itme-header .job-time > i {
    margin-right: 8px;
}

.job-itme-body {
    color: #999;
    font-size: 15px;
    padding-top: 10px;
}

.job-itme-body ul li {
    line-height: 1.85;
}

.job-itme-body p {
    line-height: 1.75;
}

.job-itme-body .project-description {
    margin-bottom: 10px;
    display: flex;
}

.job-itme-body .desc-title,
.job-itme-body .project-description .project-description-text {
    line-height: 1.75;
}

.job-itme-body .desc-title {
    flex: 0 0 auto;
    font-weight: bold;
}

.job-itme-body .project-description .project-screenshot {
    flex: 1;
    height: auto;
    border: 1px solid #ddd;
    white-space: nowrap;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

.job-itme-body .project-description .project-screenshot .project-img-item {
    width: 150px;
    display: inline-block;
    height: 100px;
    border: 1px solid #c4c4c4;
    transition: all 200ms;
    filter: brightness(1);
    overflow: hidden;
}

.job-itme-body .project-description .project-screenshot .project-img-item:not(:last-child) {
    margin-right: 6px;
}

.job-itme-body .project-description .project-screenshot .project-img-item img {
    width: 100%;
    height: 100%;
}

.job-itme-body .project-description .project-screenshot .project-img-item:hover {
    filter: brightness(0.8);
}

/*----------------------
     图片弹窗样式
 ----------------------*/
.magnify-modal button {
    outline: 0 !important;
}

.magnify-modal {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.magnify-header .magnify-toolbar {
    background-color: rgba(0, 0, 0, .5);
}

.magnify-stage {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
}

.magnify-footer .magnify-toolbar {
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.magnify-header, .magnify-footer {
    pointer-events: none;
}

.magnify-button {
    pointer-events: auto;
}

/* ---------------------------------
   Example Styles
   --------------------------------- */

.image-set {
    margin-left: -5px;
    margin-right: -5px;
}

.image-set img {
    display: block;
}

.image-set a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #ddd;
    transition: border-color .3s ease;
}

.image-set a:hover {
    border-color: #aaa;
}


#customizer {
    position: fixed;
    top: 64px;
    z-index: 999999;
    height: 100%;
}

.s-open {
    right: 0 !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.s-close {
    right: -205px !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.corner {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /*background: url(../img/switcher/corner-open.png);*/
    position: absolute;
    color: #FFF;
    background-color: var(--darkColor);
    top: 50px;
    left: -50px;
    font-size: 22px;
}

#options {
    width: 205px;
    height: 378px;
    background: #fff;
    padding: 0;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.options-head {
    background: var(--darkColor);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}

.headers-sel {
    padding: 15px;
    margin-bottom: 0;
}

#options h6 {
    color: #5c5c5c;
    margin-bottom: 10px;
    font-size: 13px;
}

.color-head {
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    color: #525252;
    line-height: 40px !important;
    background-position: 92.5% 50%;
    margin-bottom: 15px !important;
    text-transform: uppercase;
    font-weight: 800;
}

.version {
    padding: 0;
    margin-bottom: -20px;
    display: flex;
    width: 100%;
}

.version li {
    list-style: none;
    width: 50%;
    margin: 0 5px;
}

.version li a {
    padding: 21px;
    /*display: table;*/
    display: block;
    border: 1px solid red;
}

.lite, .lite:hover {
    background: #f3f3f3 !important;
    color: #7f7f7f !important;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.dark, .dark:hover {
    background: #7f7f7f !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.colors-sel {
    padding: 20px 25px 15px;
    margin-bottom: 0;
}

.color-scheme {
    padding: 0;
}

.color-scheme li {
    float: left;
    list-style: none;
}

.color-scheme a:hover,
.color-scheme a {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 4.25px 10px;
}

.green a {
    background: url(../img/switcher/3.png);
}

.orange a {
    background: url(../img/switcher/7.png);
}

.blue a {
    background: url(../img/switcher/1.png);
}

.red a {
    background: url(../img/switcher/8.png);
}

.violet a {
    background: url(../img/switcher/4.png);
}

.pale-green a {
    background: url(../img/switcher/6.png);
}

.yellow a {
    background: url(../img/switcher/5.png);
}

.fblack a {
    background: url(../img/switcher/2.png);
}

.skill-list {
    /*border: 1px solid red;*/
}

.skill-list .skill-list-item {
    display: flex;
    min-height: 35px;
    /*border: 1px solid red;*/
    align-items: center;
    padding: 15px 0;
}

.skill-list .skill-list-item .skill-text {
    width: 100px;
    font-weight: bold;
}

.skill-list .skill-list-item .progress {
    flex: 1;
}

@media (max-width: 992px) {

    .layout-page .container {
        max-width: 100% !important;
        width: 100% !important;
    }

    #left-card .resume-menu li > a {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #left-card .resume-menu li > a i {
        margin-left: 10px;
        position: relative;
        font-size: 16px;
        top: 2px;
    }

    .job-itme-body .project-description {
        display: block;
    }

    .job-itme-body .desc-title {
        display: block;
        margin-bottom: 5px;
    }

    .job-item .job-header-bottom {
        display: block;
    }

    /*.job-item .job-header-bottom span {*/
    /*display: block;*/
    /*}*/
    .job-item .job-header-bottom span:first-child {
        font-size: 15px;
    }

    .job-item .job-header-bottom span:last-child {
        padding-left: 20px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    body{
        background-image: none !important;
        background-color: #FFF !important;
    }

    .job-item .job-header-top {
        flex-wrap: wrap;
    }

    .job-item .job-header-top > span {
        display: block;
        width: 100%;
    }

    .job-item .job-header-top .project-name {
        margin-bottom: 5px;
    }

    .job-itme-body {
        padding-top: 0;
    }

    .layout-page.full #resume_app_body {
        overflow: hidden;
    }

    .layout-page.full #right-card {
        height: auto;
        min-height: 620px;
    }

    .layout-page.full {
        padding: 0;
    }

    .layout-page.full .container {
        /*max-width: 100% !important;*/
        height: 100%;
        padding: 0 15px;
    }

    .layout-page.full .resume-box-item.left {
        padding-right: 0;
        height: auto;
    }

    .layout-page .resume-box-item.left {
        height: auto;
    }

    .layout-page {
        padding-top: 0;
        overflow: auto;
    }

    .layout-page .container {
        /*max-width: 100% !important;*/
        /*border: 1px solid #ddd;*/
    }

    #left-card .resume-menu {
        width: 100%;
        height: 65px;
        display: flex;
        background-color: var(--darkColor);
        border-bottom: 1px solid var(--lightColor);
    }

    #left-card .resume-menu li {
        flex: 1;
    }

    .resume-box-item {
        height: auto;
        padding: 0 !important;
    }

    #left-card,
    .layout-page.full #resume-box,
    #resume-box {
        height: auto;
    }

    #resume-box {
        margin-bottom: 0 !important;
    }

    #left-card .resume-menu li > a span {
        display: none;
    }

    #left-card .resume-menu li > a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #left-card .resume-menu li > a.active {
        border: 0 !important;
    }

    #right-card {
        min-height: 500px;
        border: 0;
    }

    #left-card .resume-menu li > a i {
        margin: 0;
        font-size: 20px;
    }

    .my-info-form {
        width: 100%;
    }

    .my-info-form .form-control,
    .my-info-form .input-group-text {
        font-size: 12px;
    }

    .page-title {
        padding-top: 12px !important;
    }

    .page-title h1:not(.first-title) {
        font-size: 20px;
    }

    .page-title .first-title {
        /*font-size: 24px;*/
        font-weight: 500 !important;
        font-family: "微软雅黑", Arial, sans-serif;
    }

    .page-title h1 {
        font-weight: 500 !important;
        font-family: "微软雅黑", Arial, sans-serif;
    }

    body {
        position: relative;
        font-family: "微软雅黑", Arial, sans-serif;
        background-color: #FFF;
    }

    .page-header {
        padding: 15px 20px 0;
    }

    .page-content {
        padding: 10px 20px 20px;
    }

}

@media (max-width: 576px) {
    .my-introduce {
        font-size: 14px !important;
    }

    .job-item .job-header-bottom span:last-child {
        display: none;
    }
}
